[Unit]
Description=Avialeta: Cache
StopWhenUnneeded=yes

[Service]
ExecStartPre=-/usr/bin/docker rm avialeta-cache
ExecStart=/usr/bin/docker run \
	--name avialeta-cache \
	--rm \
	redis:latest
ExecStop=/usr/bin/docker stop avialeta-cache

[Install]
WantedBy=default.target
